/**
* Carbon 2.0
*
* Extention of Milligram framework
*/
/*==================================================
	Outdated colors - new themes based on
	Google theme recomendations
==================================================*/
/*==================================================
	Define alert colours
==================================================*/
/*==================================================
	Define hover colours
==================================================*/
nav {
  margin-top: calc((72px - 41px) /1.5); }
  nav.fixed {
    position: fixed;
    width: 100%;
    z-index: 9999;
    left: 0;
    top: 0;
    padding: 9px;
    margin: 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    background: white; }
  nav .mobile-nav {
    display: block;
    color: #ffffff;
    transition: all ease 0.24s;
    margin: 0; }
    nav .mobile-nav .menu-open {
      opacity: 0;
      visibility: hidden;
      display: none; }
    nav .mobile-nav .menu-closed {
      opacity: 1;
      visibility: visible;
      display: block; }
    nav .mobile-nav.active .menu-closed {
      opacity: 0;
      visibility: hidden;
      display: none; }
    nav .mobile-nav.active .menu-open {
      opacity: 1;
      visibility: visible;
      display: block; }
    @media (min-width: 40.25em) {
      nav .mobile-nav {
        display: none; } }
  nav ul {
    list-style-type: none;
    display: flex;
    flex-flow: column;
    background-color: #F1EFF1;
    width: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 64px;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: all ease 0.45s; }
    @media (min-width: 40.25em) {
      nav ul {
        flex-flow: row;
        position: relative;
        z-index: 1;
        background-color: transparent;
        opacity: 1;
        visibility: visible;
        top: 0px; } }
    nav ul.active {
      opacity: 1;
      visibility: visible; }
    nav ul li {
      display: inline-flex;
      width: 100%;
      margin: 0;
      padding: 0; }
      nav ul li a {
        color: #86878A;
        display: block;
        width: 100%;
        padding: 14px 0;
        text-align: center;
        background-color: transparent;
        transition: all ease 0.42s; }
        @media (min-width: 40.25em) {
          nav ul li a {
            padding: 8px 0; } }
        nav ul li a:hover, nav ul li a:focus {
          color: #454440;
          background-color: #d9d4d9; }
          @media (min-width: 40.25em) {
            nav ul li a:hover, nav ul li a:focus {
              background-color: transparent; } }

section {
  padding-top: 100px !important;
  padding-bottom: 100px !important; }

.alt-row {
  background-color: #F1EFF1;
  padding: 50px 0; }

.footer {
  background-color: #F1EFF1;
  text-align: center;
  padding: 50px 0 0;
  font-size: 1.28rem; }
  .footer .footer-nav {
    display: flex;
    width: 100%;
    margin: 0 0 10px;
    padding: 0; }
    .footer .footer-nav li {
      display: inline-flex;
      width: 100%;
      margin: 0;
      padding: 0; }
      .footer .footer-nav li a {
        color: #86878A;
        display: block;
        width: 100%;
        padding: 8px 0;
        text-align: center;
        background-color: transparent;
        transition: all ease 0.42s; }
        .footer .footer-nav li a:hover {
          color: #454440; }

.logo-container a {
  display: block;
  width: 100%;
  text-align: center;
  color: transparent;
  outline: none; }
  .logo-container a img {
    width: 50%; }
    @media (min-width: 40.25em) {
      .logo-container a img {
        width: 100%; } }

.wrapper {
  padding-top: 10px; }

@media (min-width: 40.25em) {
  .top-bg {
    height: 550px; } }
.section-title {
  margin-bottom: 70px; }

.item {
  padding-bottom: 30px; }
  .item .fa {
    color: #61A5A9; }
  .item .fa-4 {
    font-size: 6.10352rem; }

.button.accent, button.accent, input[type='button'].accent, input[type='reset'].accent, input[type='submit'].accent {
  background-color: #E7728B;
  border-color: #E7728B;
  color: white; }
  .button.accent:hover, button.accent:hover, input[type='button'].accent:hover, input[type='reset'].accent:hover, input[type='submit'].accent:hover {
    color: white; }

.cta {
  border-radius: 10px;
  color: white; }
  .cta input[type='email']:focus:focus, .cta input[type='number']:focus:focus, .cta input[type='password']:focus:focus, .cta input[type='search']:focus:focus, .cta input[type='tel']:focus:focus, .cta input[type='text']:focus:focus, .cta input[type='url']:focus:focus, .cta textarea:focus:focus, .cta select:focus:focus {
    background-color: transparent; }

.testimonies {
  border: 1px solid #e3e3e3;
  border-radius: 6px;
  padding: 2.5rem; }
  .testimonies .testify {
    text-align: center; }
    .testimonies .testify .fa {
      font-size: 2.67309rem;
      margin-bottom: 20px; }
    .testimonies .testify a {
      color: #333; }

.has-animation {
  opacity: 1; }
  @media (min-width: 40.25em) {
    .has-animation {
      opacity: 0; } }

.fa-4 {
  font-size: 3.90625rem; }
