// Base
// ––––––––––––––––––––––––––––––––––––––––––––––––––

// The base font-size is set at 62.5% for having the convenience
// of sizing rems in a way that is similar to using px. 1.6rem=16px
html {
  box-sizing: border-box;
  font-size: 62.5%
}

// Default body styles
body {
  color: $body-font-color;
  font-family: $body-font-family;
  font-size: $base-font-size;
  font-weight: $body-font-weight;
  letter-spacing: 0.01em;
  line-height: $default-line-height;
}

// Set box-sizing globally to handle padding and border widths
*,
*:after,
*:before {
  box-sizing: inherit;
}
