// Button
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.button,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  background-color: $default-color;
  border: $button-border-width solid $default-color;
  color: darken($default-color, 40%);
  border-radius: $button-default-radius;
  cursor: pointer;
  display: inline-block;
  font-size: $button-font-size;
  font-weight: $button-font-weight;
  transition: $global-transition;
  letter-spacing: 0.1rem;
  padding: 1rem 3rem;
  text-align: center;
  text-decoration: none;
  text-transform: $button-text-transform;
  white-space: nowrap;
  outline: 0;

    @each $shade in $colors {
      &.#{nth($shade, 1)} {
        background-color: nth($shade, 2);
        border-color: nth($shade, 2);
        color: darken(nth($shade, 2), 50%);

        &:hover,
        &:focus {
          background-color: nth($shade, 3);
          border-color: nth($shade, 3);
          color: set-text-color(nth($shade, 3));
          outline: 0;
        }

        &.outline {
          background-color: transparent;
          color: nth($shade, 2);

          &:hover,
          &:focus {
            background-color: transparent;
            color: darken(nth($shade, 2), 40%);
          }
        }

        &.fill {
          &:hover,
          &:focus {
            background-color: nth($shade, 3);
            color: set-text-color(nth($shade, 3));
          }
        }
      }
    }

    &:hover,
    &:focus {
      background-color: $default-hover-color;
      border-color: $default-hover-color;
      color: set-text-color($default-color);
      outline: 0;
    }


  &.disabled,
  &[disabled] {
    cursor: default;
    opacity: 0.5;

    &:hover,
    &:focus {
      background-color: $default-hover-color;
      border-color: $default-hover-color
    }
  }


    &.disabled,
    &[disabled] {
      &:hover,
      &:focus {
        border-color: inherit;
        color: $default-color;
      }
    }

  &.clear {
    background-color: transparent;
    border-color: transparent;
    color: $default-color;

    &:hover,
    &:focus {
      background-color: transparent;
      border-color: transparent;
    }

    &.disabled,
    &[disabled] {
      &:hover,
      &:focus {
        color: $default-color;
      }
    }
  }

  &.radius {
    border-radius: $button-radius;
  }

  &.rounded {
    border-radius: $button-rounded-radius;
  }

  &.expand {
    width: 100%;
  }
}
