// Code
// ––––––––––––––––––––––––––––––––––––––––––––––––––

code {
  background: $info-color;
  border-radius: 0.4rem;
  font-size: 0.9em;
  margin: 0 0.2rem;
  padding: 0.2rem 0.5rem;
  white-space: nowrap;
}

pre {
  background: $info-color;
  border-left: 0.3rem solid $primary-color;
  font-family: "Menlo", "Consolas", "Bitstream Vera Sans Mono", "DejaVu Sans Mono", "Monaco", monospace;

  & > code {
    background: transparent;
    border-radius: 0;
    display: block;
    padding: 1rem 1.5rem;
    white-space: pre;
  }
}
