// Form
// ––––––––––––––––––––––––––––––––––––––––––––––––––

input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
textarea,
select {
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  border: $input-border-weight solid $input-border-color;
  border-radius: $input-border-radius;
  box-shadow: none;
  height: $input-height;
  padding: 0.6rem 1rem;
  width: 100%;
  transition: $global-transition;

  &:focus {
    border: $input-border-weight solid $input-border-color-focus;
    outline: 0;
    background-color: #fbfbfb;
  }
}

select {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMTQiIHZpZXdCb3g9IjAgMCAyOSAxNCIgd2lkdGg9IjI5Ij48cGF0aCBmaWxsPSIjZDFkMWQxIiBkPSJNOS40IDMuNmw1IDcgNS4yLTciLz48L3N2Zz4=) center right no-repeat;
  padding: 0.6rem 3rem 0.6rem 1rem;

  &:focus,
  &:hover {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMTQiIHZpZXdCb3g9IjAgMCAyOSAxNCIgd2lkdGg9IjI5Ij48cGF0aCBmaWxsPSIjOWI0ZGNmIiBkPSJNMTkuNiAzLjZIOS40bDUgNyIvPjwvc3ZnPg==);
  }
}

textarea {
  min-height: $input-height * 3;
  padding-bottom: 0.6rem;
  padding-top: 0.6rem;
}

label,
legend {
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

fieldset {
  border-width: 0;
  padding: 0;
}

input[type='checkbox'],
input[type='radio'] {
  display: inline;
}

.label-inline {
  display: inline-block;
  font-weight: normal;
  margin-left: 0.5rem;
}


// Adaption of Felix Hagspiel's Custom Inputs
// Checkboxes and Radios

.checkbox > [type="checkbox"],
.radio > [type="radio"] {
    &:checked,
    &:not(:checked) {
        width: 0;
        height: 0;
        display: none;
        opacity: 0;
        & + label {
            display: inline-block;
            margin-right: $cb-margins;
            margin-top: $cb-margins;
            margin-bottom: $cb-margins;
            padding-left: 22px;
            padding-top: 2px;
            position: relative;
            cursor: pointer;
            &:before {
                // position elements absolute to parent container
                position: absolute;
                display: inline-block;
                bottom: 3px;
                left: 0;
                line-height: 1.4rem;
                width: 1.8rem;
                height: 1.8rem;
                border: 2px solid $cb-color-default;
                color: $cb-color-default;
            }
            &:hover:before {
                // add some hover styling
                background-color: $cb-color-default;
            }
        }
        &:focus + label:before {
            border-color: $cb-color-focus;
            box-shadow: 0 0 6px 0 $cb-color-focus;
        }
        &[disabled] + label {
            cursor: not-allowed;
            opacity: .4;
            &:before {
                opacity: .7;
            }
        }
    }
}
// styling for checkbox for both states
.checkbox > [type="checkbox"]:checked + label:before,
.checkbox > [type="checkbox"]:not(:checked) + label:before {
    // set icon font
    font-family: "FontAwesome";
    font-size: 1.2rem;
    text-align: center;
    // add some CSS3-animations
    -webkit-transition: border-color .2s ease-in, background-color .2s ease-in;
    -moz-transition: border-color .2s ease-in, background-color .2s ease-in;
    -o-transition: border-color .2s ease-in, background-color .2s ease-in;
    -ms-transition: border-color .2s ease-in, background-color .2s ease-in;
    transition: border-color .2s ease-in, background-color .2s ease-in;
}
// styling for checkbox when selected
.checkbox > [type="checkbox"]:checked + label:before {
    // set checkmark icon
    content: "\f00c";
    color: #FFF;
    background-color: $cb-color-active;
    border-color: $cb-color-active;
}
// styling for checkbox when not selected
.checkbox > [type="checkbox"]:not(:checked) + label:before {
    // remove checkmark icon
    content: "";
}
// styling for radio for both states
.radio > [type="radio"]:checked + label:before,
.radio > [type="radio"]:not(:checked) + label:before, {
    content: "";
    border-radius: 15px;
    // add some CSS3-animations
    -webkit-transition: border-color .2s ease-in, box-shadow .1s ease-in, background-color .2s ease-in, box-shadow .2s ease-in;
    -moz-transition: border-color .2s ease-in, box-shadow .1s ease-in, background-color .2s ease-in;
    -o-transition: border-color .2s ease-in, box-shadow .1s ease-in, background-color .2s ease-in;
    -ms-transition: border-color .2s ease-in, box-shadow .1s ease-in, background-color .2s ease-in;
    transition: border-color .2s ease-in, box-shadow .1s ease-in, background-color .2s ease-in;
}
// styling for radio when selected
.radio > [type="radio"]:checked + label:before {
    color: $cb-color-active;
    border-color: $cb-color-active;
    background-color: $cb-color-active;
    // use box-shadow to render circle
    box-shadow: inset 0 0 0 1px #fff;
}
// styling for radio when not selected
.radio > [type="radio"]:not(:checked) + label:before {
    box-shadow: inset 0 0 0 3px #fff;
}
/**
 * On/off switch
 */
.switch {
    position: relative;
}
.switch > [type="checkbox"]:checked,
.switch > [type="checkbox"]:not(:checked) {
    width: 0;
    height: 0;
    display: none;
    opacity: 0;
    & + label {
        cursor: pointer;
        display: inline-block;
        margin-right: $cb-margins;
        margin-top: $cb-margins;
        margin-bottom: $cb-margins;
        // apply padding so the switch fits inside the label
        padding-right: 60px;
        &:after {
            content: "";
            top: 4px;
            right: 10px;
            width: 30px;
            height: 12px;
            // use absolute for better positioning
            position: absolute;
            border-radius: 30px;
        }
        & + .switch-knob {
            top: 0;
            width: 20px;
            height: 20px;
            border-radius: 30px;
            display: inline-block;
            position: absolute;
            cursor: pointer;
            pointer-events: none;
            box-shadow: 1px 1px 1px $cb-color-default-light;
            // add some CSS3-animations
            -webkit-transition: right .1s ease-in, background-color .1s ease-in;
            -moz-transition: right .1s ease-in, background-color .1s ease-in;
            -o-transition: right .1s ease-in, background-color .1s ease-in;
            -ms-transition: right .1s ease-in, background-color .1s ease-in;
        }
    }
    &:focus + label:after,
    &:focus + label + .switch-knob {
        box-shadow: 0 0 6px 0 $cb-color-focus;
    }
    &[disabled] {
        & + label,
        & + label:after,
        & + label + .switch-knob {
            cursor: not-allowed;
            opacity: 0.4;
        }
    }
}
.switch > [type="checkbox"]:checked + label:after {
    background-color: $cb-color-active-light;
}
.switch > [type="checkbox"]:not(:checked) + label:after {
    background-color: $cb-color-default-light;
}
.switch > [type="checkbox"]:checked + label + .switch-knob {
    right:5px;
    background-color: $cb-color-active;
}
.switch > [type="checkbox"]:not(:checked) + label + .switch-knob {
    right: 25px;
    background-color: $cb-color-default;
}
