// Grid
// ––––––––––––––––––––––––––––––––––––––––––––––––––

// .container is main centered wrapper with a max width of 112.0rem (1120px)
.container {
  margin: 0 auto;
  max-width: $max-row-width;
  padding: 0 1rem;
  position: relative;
  width: 100%;
}

// Using flexbox for the grid, inspired by Philip Walton:
// http://philipwalton.github.io/solved-by-flexbox/demos/grids/
// By default each .column within a .row will evenly take up
// available width, and the height of each .column with take
// up the height of the tallest .column in the same .row
.row {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 100%;

  // Larger than mobile screen
  @media (min-width: 40.25rem) {
    flex-direction: row;
  }

  // Larger than mobile screen max-row-width
  @media (min-width: $max-row-width) {
    margin-left: -1rem;
    width: calc(100% + 2.0rem);
  }

  &.wrap {
    flex-wrap: wrap;

    .column {
      padding-left: 0;
      padding-right: $column-gutter;
    }
  }

  &.top {
    align-items: flex-start;
  }

  &.bottom {
    align-items: flex-end;
  }

  @media (min-width: 40.25rem) {
    &.center {
      justify-content: center;
    }
  }

  &.middle {
    align-items: center;
  }

  &.stretch {
    align-items: stretch;
  }

  &.baseline {
    align-items: baseline;
  }

  &.collapse {
    padding: 0;

    & > .column {
      padding: 0;
    }
  }

  // Define small viewport
  @media (max-width: 40.25em) {
    &.sm {
      flex-direction: row;

      .column {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  .column {
    display: block;
    flex: 1;
    margin-left: 0;
    max-width: 100%;
    width: 100%;

    // Larger than mobile screen
    @media (min-width: 40.25em) {
      margin-bottom: inherit;
      padding-left: $column-gutter;

      &:first-child {
        padding-left: 0;
      }
    }


    // .column-* vertically aligns an individual .column
    .top {
      align-self: flex-start;
    }

    .bottom {
      align-self: flex-end;
    }

    .middle {
      align-self: center;
    }

    // Column Offsets
    // No Offset for mobile
    @for $i from 1 through $column-count{
      &.offset-#{number-as-word($i)} {
        margin-left: 0;
      }
    }

    // Set offset for anything larger than mobile
    @media (min-width: 40.25em) {
      @for $i from 1 through $column-count{
        &.offset-#{number-as-word($i)} {
          margin-left: #{ 100% * ($i / $column-count ) };
        }
      }
    }



    // Explicit Column Percent Sizes
    // By default each grid column will evenly distribute
    // across the grid. However, you can specify individual
    // columns to take up a certain size of the available area

    // Base setting
      &.one,
      &.two,
      &.three,
      &.four,
      &.five,
      &.six,
      &.seven,
      &.eight,
      &.nine,
      &.ten,
      &.eleven {
        flex:1;
        max-width: 100%;
      }

      @for $i from 1 through $column-count{
        &.sm-#{number-as-word($i)} {
          flex: 0 0 #{ 100% * ($i / $column-count ) };
          max-width: #{ 100% * ($i / $column-count ) };
        }
      }


    // Larger than mobile screen
    @media (min-width: 40.25em) {

      @for $i from 1 through $column-count{
    		&.#{number-as-word($i)} {
          flex: 0 0 #{ 100% * ($i / $column-count ) };
          max-width: #{ 100% * ($i / $column-count ) };
    		}
    	}
    }
  }
}
