.modal {
  display: flex;
  justify-content: center;
  visibility: none;
  opacity: 0;
  z-index: -1;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  transition: all ease 0.45s;
  background-color: $overlay-bg-color;

  .modal-wrapper {
    align-self: center;
    max-width: $max-row-width;
    background: white;
    padding: 15px;
    opacity: 0;
    transition-property: all;
    transition-duration: 0.45s;
    transition-timing-function: ease-out;
    transition-delay: 0.45s;
    transform: translate(0, 45px);

    i.fa-close {
      position: absolute;
      top: -12px;
      right: -12px;
      font-size: 16px;
      color: white;
      background-color: $danger-color;
      width: 22px;
      height: 22px;
      line-height: 20px;
      text-align: center;
      cursor: pointer;
      border-radius: 100%;
      transition: all ease 0.24s;

      &:hover {
        transform: scale(1.1,1.1);
        background-color: $danger-hover-color;
      }
    }

    .row {
      width: 100%;
      margin-left: 0;
    }
  }


  &.active {
    opacity: 1;
    visibility: visible;
    z-index: 100;

    .modal-wrapper {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
}
