.overlay {
  width: 100%;
  height: 100vh;
  background-color: $overlay-bg-color;
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  z-index: -1;
  transition: all ease 0.45s;
  transform: scale(0,0);

  &.isActive {
    visibility: visible;
    z-index: 99;
    transform: scale(1,1);
  }

}
