// Table
// ––––––––––––––––––––––––––––––––––––––––––––––––––

table {
  width: 100%;
}

th,
td {
  border-bottom: 0.1rem solid #e1e1e1;
  padding: 1.2rem 1.5rem;
  text-align: left;
/*
  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }
  */
}

tbody {
  tr {
    transition: $global-transition;

    &:nth-child(even) {
      background-color: $info-color;
    }

    &:hover {
      background-color: darken($info-color, 5%);
    }
  }
}
