// Typography
// ––––––––––––––––––––––––––––––––––––––––––––––––––

p {
  margin-top: 0;
  line-height: 1.3em;

  &.small {
    font-size: ms(-2);
  }
}

@media screen and (min-width: 24.15em) { /* 21em "gate" * 1.15 font-size */
  p {
    line-height: calc(1.3em + (1.5 - 1.3) * ((100vw - 21em) / (35 - 21)));
  }
}

@media (min-width: 40.25em) { /* 35em "gate" * 1.15 font-size */
  p {
    line-height: 1.6em;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $heading-font-weight;
  font-family: $heading-font-family;
  margin-bottom: 2rem;
  margin-top: 0;
}

h1 {
  font-size: #{$h1 - 0.5};
  letter-spacing: -0.1rem;
  line-height: 1.2;
}

h2 {
  font-size: #{$h2 - 0.5};
  letter-spacing: -0.1rem;
  line-height: 1.25;
}

h3 {
  font-size: #{$h3 - 0.5};
  letter-spacing: -0.1rem;
  line-height: 1.3;
}

h4 {
  font-size: #{$h4 - 0.5};
  letter-spacing: -0.08rem;
  line-height: 1.35;
}

h5 {
  font-size: #{$h5 - 0.5};
  letter-spacing: -0.05rem;
  line-height: 1.5;
}

h6 {
  font-size: #{$h6 - 0.5};
  letter-spacing: 0;
  line-height: 1.4;
}

// Larger than mobile screen
@media (min-width: 40.25em) {
  h1 {
    font-size: $h1;
  }

  h2 {
    font-size: $h2;
  }

  h3 {
    font-size: $h3;
  }

  h4 {
    font-size: $h4;
  }

  h5 {
    font-size: $h5;
  }

  h6 {
    font-size: $h6;
  }
}


.white-text {
  color: white;
}

.text-center {
  text-align: center;
}

.italics {
  font-style: italic;
}

.uppercase {
  text-transform: uppercase;
}
