// Utility
// ––––––––––––––––––––––––––––––––––––––––––––––––––

// Float either direction
.float-right {
  float: right;
}

.float-left {
  float: left;
}

// Clear a float with .clearfix
.clearfix {
  *zoom: 1;

  &:after,
  &:before {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}
