/**
* Carbon 2.0
*
* Extention of Milligram framework
*/

// Base
// ––––––––––––––––––––––––––––––––––––––––––––––––––
$default-line-height: 1.6;
$base-font-size:      1.6rem; //16px

// Grid
// ––––––––––––––––––––––––––––––––––––––––––––––––––

$column-count:      12;
$column-gutter:     2rem;
$max-row-width:     1280px;


// Color
// ––––––––––––––––––––––––––––––––––––––––––––––––––


// Create a list of colours which we can loop through, great if you want to add extra colours BECAUSE NOT ALL WEBSITES ONLYE HAVE 5 COLOURS!!
// ––––––––––––––––––––––––––––––––––––––––––––––––––


$dark-primary-color: 					#61A5A9;
$primary-color: 							#77D8DA;
$light-primary-color: 				#B2EFF0;
$accent-color: 								#E7728B;
$default-color: 							#86878A;
$info-color: 								  #F1EFF1;

/*==================================================
	Outdated colors - new themes based on
	Google theme recomendations
==================================================*/

$black: 									#000; // Needs to go
$white: 									#fff; // Needs to go

/*==================================================
	Define alert colours
==================================================*/

$danger-color: 								$clr-red-800;
$warning-color:								$clr-amber;
$success-color: 							$clr-light-green;

/*==================================================
	Define hover colours
==================================================*/

$primary-hover-color: 						darken($primary-color, 15%);
$light-primary-hover-color: 			darken($light-primary-color, 15%);
$dark-primary-hover-color: 				lighten($dark-primary-color, 15%);
$accent-hover-color: 						  darken($accent-color, 15%);
$default-hover-color: 						lighten(#383734, 5%);
$info-hover-color: 							  $clr-grey-400;

$danger-hover-color: 						  $clr-red-900;
$warning-hover-color: 						$clr-amber-700;
$success-hover-color: 						$clr-light-green-700;



// Typography
// ––––––––––––––––––––––––––––––––––––––––––––––––––
$ms-base:             $base-font-size;
$ms-ratio:            1.25;

$h1:                  ms(5);
$h2:                  ms(4);
$h3:                  ms(3);
$h4:                  ms(2);
$h5:                  ms(1.5);
$h6:                  ms(0.9);

// Links
// ––––––––––––––––––––––––––––––––––––––––––––––––––

$link-color:        blue;
$link-hover-color:  lighten(blue, 50%);


// Fonts
// ––––––––––––––––––––––––––––––––––––––––––––––––––
$body-font-family:   Muli, "Helvetica Neue", Helvetica, Arial, sans-serif;
$body-font-weight:   400;
$body-font-color:    #333;

$heading-font-family: "Playfair Display";
$heading-font-weight: 400;

// Buttons
// ––––––––––––––––––––––––––––––––––––––––––––––––––
$button-font-size:        1.4rem;
$button-default-radius:   0.4rem;
$button-radius:           0.4rem;
$button-rounded-radius:   50rem;
$button-border-width:     0.2rem;
$button-font-weight:      600;
$button-text-transform:   none;

// Animation
// ––––––––––––––––––––––––––––––––––––––––––––––––––

$global-tran-timing:              0.42s;
$global-tran-timing-function:     ease;
$global-tran-property:            all;

$global-transition: $global-tran-property $global-tran-timing-function $global-tran-timing;

// Forms
// ––––––––––––––––––––––––––––––––––––––––––––––––––

$input-border-weight:         .2rem;
$input-border-radius:         .2rem;
$input-border-color:          $info-color;
$input-border-color-focus:    $accent-color;
$input-height:                4.8rem;

$cb-color-default:           #849FBB; // default color
$cb-color-default-light:     #DDDDDD; // default color light
$cb-color-active:            #57CB85; // color when active or checked
$cb-color-active-light:      #9EFFC4; // active color light
$cb-color-focus:             #6FB5FB; // color when focused

$cb-margins:                 7px; // default margin for our custom inputs

// Overlay
// ––––––––––––––––––––––––––––––––––––––––––––––––––

$overlay-bg-color:          rgba(0,0,0,0.80);

// NAVIGATION
// ––––––––––––––––––––––––––––––––––––––––––––––––––

$nav-link-color:          $default-color;
$nav-link-color-hover:    $default-hover-color;

$nav-bg-color:            $light-primary-color;
$nav-bg-color-hover:      $light-primary-hover-color;

$logo-height:             72px;
$nav-height:              41px;
