@import "extensions/modular-scale";

@import "vendors/material-color";
@import "Variables";


nav {
  margin-top: calc((#{$logo-height} - #{$nav-height}) /1.5);

  &.fixed {
    position: fixed;
    width: 100%;
    z-index: 9999;
    left: 0;
    top: 0;
    padding: 9px;
    margin: 0;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    background: white;
  }

  .mobile-nav {
    display: block;
    color: #ffffff;
    transition: all ease 0.24s;
    margin: 0;

    .menu-open {
      opacity: 0;
      visibility: hidden;
      display: none;
    }

    .menu-closed {
      opacity: 1;
      visibility: visible;
      display: block;
    }

    &.active {
      .menu-closed {
        opacity: 0;
        visibility: hidden;
        display: none;
      }

      .menu-open {
        opacity: 1;
        visibility: visible;
        display: block;
      }
    }

    @media (min-width: 40.25em) {
      display: none;
    }
  }

  ul {
    list-style-type: none;
    display: flex;
    flex-flow: column;
    background-color: $info-color;
    width: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 64px;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: all ease 0.45s;

    @media (min-width: 40.25em) {
      flex-flow: row;
      position: relative;
      z-index: 1;
      background-color: transparent;
      opacity: 1;
      visibility: visible;
      top: 0px;
    }

    &.active {
      opacity: 1;
      visibility: visible;
    }

    li {
      display: inline-flex;
      width: 100%;
      margin: 0;
      padding: 0;

      a {
        color: $nav-link-color;
        display: block;
        width: 100%;
        padding: 14px 0;
        text-align: center;
        background-color: transparent;
        transition: $global-transition;

        @media (min-width: 40.25em) {
          padding: 8px 0;
        }

        &:hover, &:focus {
          color: $nav-link-color-hover;
          background-color: darken($info-color, 10%);

          @media (min-width: 40.25em) {
            background-color: transparent;
          }
        }
      }
    }
  }
}

section {
  padding-top: 100px !important;
  padding-bottom: 100px !important;
}


.alt-row {
  background-color: $info-color;
  padding: 50px 0;
}


.footer {
  background-color: $info-color;
  text-align: center;
  padding:50px 0 0;
  font-size: ms(-1);

  .footer-nav {
    display: flex;
    width: 100%;
    margin: 0 0 10px;
    padding: 0;

    li {
      display: inline-flex;
      width: 100%;
      margin: 0;
      padding: 0;


      a {
        color: $nav-link-color;
        display: block;
        width: 100%;
        padding: 8px 0;
        text-align: center;
        background-color: transparent;
        transition: $global-transition;


        &:hover {
          color: $nav-link-color-hover;
        }
      }
    }
  }
}


/// Theme specific

.logo-container {

  a {
    display: block;
    width: 100%;
    text-align: center;
    color: transparent;
    outline: none;

    img{
      width: 50%;

        @media (min-width: 40.25em) {
          width: 100%;
        }

    }
  }
}

.wrapper {
  padding-top: 10px;
}

  // Larger than mobile
  @media (min-width: 40.25em) {
    .top-bg {
      height: 550px;
    }
}

.section-title {
  margin-bottom: 70px;
}

.item {
  padding-bottom: 30px;

  .fa {
    color: $dark-primary-color;
  }

  .fa-4 {
    font-size: ms(6);
  }


}
.button.accent, button.accent, input[type='button'].accent, input[type='reset'].accent, input[type='submit'].accent {
    background-color: #E7728B;
    border-color: #E7728B;
    color: white;

    &:hover {
      color: white;
    }
}

.cta {
  border-radius: 10px;
  color: white;

  input[type='email']:focus, input[type='number']:focus, input[type='password']:focus, input[type='search']:focus, input[type='tel']:focus, input[type='text']:focus, input[type='url']:focus, textarea:focus, select:focus {
    &:focus {
        background-color: transparent;
    }
  }
}

.testimonies {
  border: 1px solid #e3e3e3;
  border-radius: 6px;
  padding: 2.5rem;

  .testify {
    text-align: center;

    .fa {
        font-size: ms(2.3);
        margin-bottom: 20px;
    }

    a {
      color: $body-font-color;
    }
  }
}

// Animate in these sections
// but only on non mobile devices
.has-animation {
  opacity: 1;
  @media (min-width: 40.25em) {
    opacity: 0;
  }
}

.fa-4 {
  font-size: ms(4);
}
