@function set-text-color($color) {
  @if (lightness($color) > 48) {
    @return #212121; // Lighter background, return dark color
  } @else {
    @return #ffffff; // Darker background, return light color
  }
}


@function set-background-color($color) {
  @if (lightness($color) > 48) {
    @return darken($color, 15%); // Lighter background, return dark color
  } @else {
    @return lighten($color, 15%); // Darker background, return light color
  }
}
