$colors:
  light-primary $light-primary-color $light-primary-hover-color,
  primary $primary-color $primary-hover-color,
  dark-primary $dark-primary-color $dark-primary-hover-color,
  accent $accent-color $accent-hover-color,
  default $default-color $default-hover-color,
  info $info-color $info-hover-color,
  danger $danger-color $danger-hover-color,
  warning $warning-color $warning-hover-color,
  success $success-color $success-hover-color;
